@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(16, 49, 75);
}

.popImage {
  width: 500px;
  top: 150px;
  height: 500px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  position: fixed;
}
